.button {
    top: 30xp;
    margin: 10px 10px 10px 0; 
    padding: 10px 25px 10px 25px;
    background: none;
    border: 1px;
    border-style: solid;
    text-align: center;
    width: 100%; 
    text-decoration: none;
    color: $basic;
 } 
a.button:hover {    
        text-decoration: none;
        opacity: 0.3;
}
input, button {
    margin: 10px 10px 10px 0; 
    padding: 10px 25px 10px 25px;
    background: none;
    border: 1px;
    border-style: solid;
    text-align: center;
    max-width: 200px;  
}
input:hover {
    text-decoration: none;
    opacity: 0.3; 
  } 
button:hover {
    text-decoration: none;
    opacity: 0.3; 
} 