

/* phone */
.grid_column {
	width: 100%;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.grid_row {
		clear: both;
		width: 100%;
		&:after {
			content: '';
			clear: both;
			display: block;
		}
		
		.grid_rowIn {
			max-width: 960px;
			margin: 0 auto;
			
			.grid_column {
				float: left;
			}
		}
		
		&.grid_row_wide .grid_rowIn {
			max-width: 100%;
		}

	}


	.grid_12_0 {
		.grid_column { width: 100%; }
	}

	.grid_8_4 {
		.grid_column { width: 66.667%; }
		.grid_column + .grid_column { width: 33.330%; }
	}
	
	.grid_6_6 {
		.grid_column { width: 50%; }
	}
	
	.grid_4_8 {
		.grid_column { width: 33.330%; }
		.grid_column + .grid_column { width: 66.667%; }
	}
	
	.grid_4_4_4 {
		.grid_column { width: 33.330%; }
	}

}




/* Medium devices (desktops, 960px and up) */ 
@media (min-width: 960px) { 
	.grid_row {
		&.grid_row_wide .grid_rowIn {
			max-width: 1980px;
		}
	}

}


